@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Knewave&family=Oldenburg&family=Pacifico&family=Quintessential&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
}
header{
    width: 100%;
    height: auto;
    background-color: #F6EEE0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#sec{
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
}
#log{
    width:250px;
    height:250px;
}
nav{
    width:700px;
    display: flex;
    flex-wrap: wrap;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:24px;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:#a45c40;
}
a:hover{
    color: #e4b7a0;
    text-decoration: underline;
    transition: 0.5s;
}
#bheader{
    width:200px;
    height:40px;
    border-radius: 3px;
    font-size:20px;
}
#back1{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#F6EEE0;
}
#img1{
    width:300px;
    height:450px;
    background-image:url(../img/vp1.jpg);
    background-size: cover;
    border-radius:5px;
}
#img2{
    width:700px;
    height:450px;
    background-image:url(../img/vp3.jpg);
    background-size: cover;
    border-radius:5px;
}
#img3{
    width:300px;
    height:450px;
    background-image:url(../img/vp2.jpg);
    background-size: cover;
    border-radius:5px;
}
#welco{
    width: 100%;
    height: auto;
    display: flex;
    padding:15px;
    justify-content: center;
    align-items: center;
    font-size:20px;
    color: #ffffff;
    background-color:#6c3c29;
    padding-bottom:30px;
    font-family: "Oldenburg", serif;
    font-size:17px;
}
#b1{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    background-color:#F6EEE0;
}
#titu{
    width:100%;
    height:auto;
    font-family:"Quintessential", serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    font-size: 30px;
    color:#6c3c29;
}
#dv{
    width:100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding:20px;
}
.produ{
    width:300px;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    background-color: #884c35a3;
    border-radius:5px;
    align-items: center;
    margin-bottom:50px;
}
h1{
    font-size: 20px;
    font-family:"Quintessential", serif ;
    color:#F6EEE0;
}
.p{
    font-family: "Oldenburg", serif;
    font-size:15px;
    align-self: center;
    color:#F6EEE0;
}
.b{
    background-color:#F6EEE0;
    width: 150px;
    height: 40px;
    border-radius:3px;
    border-color:#a45c40;
    color:#a45c40;
}
.b:hover{
    background-color:#a45c40;
    color:#F6EEE0;
}
.img{
    width:250px;
    height:150px;
}
#info{
    width:100%;
    height:500px;
    background-color:#F6EEE0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
} 
#ima{
    width:800px;
    height:450px;
    background-image:url(../img/img8.jpg);
    background-size: cover;
    border-radius:5px;
}
#tex{
    width:800px;
    height:450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-direction: column;
}
#oh{
    font-size:50px;
    color: #6c3c29;
}
p{
    font-size:20px;
    color: #6c3c29;
    line-height:28px;
}
footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background:linear-gradient(#F6EEE0,#f0ddbc);
}
#logg{
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
#list{
    width: calc(100% - 400px);
    font-size:20px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
#list ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}
#list li a{
    text-decoration: none;
    color:#a45c40;
}
#boton{
    background-color:#F6EEE0;
    width: 150px;
    height: 40px;
    border-radius:3px;
    border-color:#a45c40;
    color:#a45c40;
}
#boton:hover{
    background-color:#a45c40 ;
    color:#F6EEE0;
}

@media (max-width: 600px) {
  #name{
    font-size: 130px;
  }
}